.pt-5{
	padding-top: 5%;
}
.pt-2{
	padding-top: 2%;
}
.pb-5{
	padding-bottom: 5%;
}
.pb-2{
	padding-bottom: 2%;
}
div.glyphicon-star+hr{			/*Sólo afecta a los div con class .glyphicon-star que siguen enseguida de un hr, de otro modo afecta también al formulario*/
	width: 20%;
	border: 1.5px solid #2c3e50;
	margin-top: -10px;
}
 .glyphicon-star{
 	position: relative;
	background-color: white;
	border-radius:50%;
	width: 20px;
	height: 20px;
 }
.bg-success .glyphicon-star{		/*Es más especifica que la anterior,solo afecta a las estrellas de la sección con .bg-siccess (celeste) 
									por lo que o requiere un !important*/
	background-color: #18bc9c;	
}
.bg-success hr{		/*Afecta a los hr que estan dentro de class .bg-success*/
	border-color: white!important;
}
.linea{
	width: 35px;
	height: 2px;
	border: 1px solid #2c3e50;
}
form hr{
	border: 1px solid #F2F2F2;
	display: block;
}
@media (min-width:768px){     		
	.pl{
	padding-left: 25%;
	}
	.pr{
	padding-right: 25%;
	}
	.form-control{
	width: 50%!important;
	}
	form hr{
	width: 50%;
	}
}
@media (max-width:768px){     		
	div.glyphicon-star+hr{
		width: 50%;
	}
	footer:not(h2){
		font-size: 12px;
	}
	.fz-titulo{
		font-size: 15px;
		font-weight: bold;
	}
	img{			/*Es una imagen sin modal*/
		width: 70%;
		height: inherit;
		margin: auto;
	}
	.form-control{
	width: 80%!important;
	margin-left: 10%;
	}
	form hr{
	width: 80%;
	}
	.perfil{
		width: 40%;
	}
}
@media (max-width:480px){
	div.glyphicon-star+hr{
		width: 80%;
	}
	img{			/*Es una imagen sin modal*/
		width: 100%;
		height: inherit;
	}
	.perfil{
		width: 70%;
	}
}
h1, h2, h3, h5{
	font-weight: bold;
}
h5{
	padding-bottom: 2%;
}
footer{
	color: white;
}
footer i{
	border-radius: 50%;
	border: 1px solid white;
	height: 30px;
	width: 30px;
	padding: 2% 0;
	margin:auto;
	color: white;
}
.copyr{
	background-color: #233140;
}
section.bg-success{				/*Afecta a los elementos con class bg-succes que estén dentro de section*/
	color: white;
}
button.bg-success{
	border: 2px solid white;
}
button.bg-success:hover{
	background-color: #44F4D1;
}

.perfil{
	border-radius: 50%;
}
input.form-control, textarea.form-control {
  border: 0;
}
form button{
	margin-right: 40%;
	background-color: #18bc9c;
	color: white;
}
form button:hover{
	background-color: #09705C;
}
footer i:hover{
	-webkit-transition: scale(1.1);
	-moz-transform: scale(1.1);
	-o-transition: scale(1.1);
	-ms-transform: scale(1.1);
	transform : scale(1.1);
	border-color: #18bc9c;
	color: #18bc9c;
}
.modal-body img{
	width: 100%;
	height: inherit;
}
.btn-celeste{
	background-color: #18bc9c;
	color: white;
}
